/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #BBB;
}

.navbar {
    background: #df1f1f; 
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: lightgray;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -2em;
    }
}

#search-results {
    font-size: 12px;
    line-height: 1.5;
}

#search-results div:nth-child(odd) {
    background-color: white;
}

#search-results div:nth-child(even) {
    background-color: lightgray;
}

.result {
    min-height: 8em;
    padding: 1em;
}

.red {
    color: red;
}

#search-results div:hover {
    cursor: pointer;
    background-color: #555;
    color: white;
}

.delete {
    padding: 0.25em; 
    color: red;
}

.delete:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.thumbnail {
    border: none;
    width: 64px;
    height: 64px;
    float: left;
    padding: 0; 
    margin-right: 0.75em;
}

.row {
    margin: 0;
    border-bottom: thin solid lightgray;
}

.current-video {
    background-color: #302f30;
    color: white;
    padding: 0.5em;
    border-bottom: thin solid lightgray;
}

.playlist:hover {
    background-color: #555;
    color: white;
}

.playlist p {
    margin: 0 0 0 10px;
}

.playlist-headline {
    width: 50%;
    background-color: #302f30;
    color: white;
}

.playlist-headline:hover {
    background-color: #302f30;
    cursor: pointer;
}

.playlist-title {
    cursor: pointer;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}

.extra-margin-left-04 {
    margin-left: 0.4em;
}

.active {
    background-color: #1B1B1B;
    color: white;
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
}
.flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
}
.flip .card {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
}
.flip .card .front {
    z-index: 1;
}
.flip .card .back {
    -webkit-transform: rotateY(-180deg);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}