<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="boxTube"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>BoxTube - A JukeBox YouTube App!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body ng-controller="youtubeController">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">	<span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>	
                    <a class="navbar-brand" href="#">BoxTube</a>
                </div>
                <div class="collapse navbar-collapse">
                    <form class="navbar-form" role="search" ng-submit="search()">
                        <div class="input-group col-lg-11 col-md-11 col-sm-11">
                            <input type="search" class="form-control" placeholder="Search for a Youtube Music Video" ng-model="request">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="video-and-playlist" class="col-sm-6 col-md-6 col-lg-6">
                <div id="video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player"></div>
                    </div>
                </div>

                <div id="lists">
                    <div class="current-video">
                        <p>{{youtube.videoTitle}}</p>
                    </div>
                    <div class="flex">
                        <div class="playlist playlist-headline" ng-class="{'active':!showHistory}" ng-click="displayPlaylist()"><h3 class="extra-margin-left-04">PLAYLIST</h3></div>
                        <div class="playlist playlist-headline" ng-class="{'active':showHistory}" ng-click="displayHistory()"><h3 class="extra-margin-left-04">HISTORY</h3></div>
                    </div>
                    <div class="flip">
                        <div card class="card" ng-class="{'flipped':showHistory}">
                            <div id="playlist" class="face front active">
                                <div class="col-sm-12 col-md-12 col-lg-12 playlist row" card-add ng-repeat="video in playlist track by $index">
                                    <p class="pull-right delete" ng-click="delete($index)">DELETE</p>
                                    <p class="playlist-title" ng-click="playVideoFromPlaylist($index)">{{video.title}}</p>
                                </div>
                            </div>

                            <div id="history" class="face back active">
                                <div class="col-sm-12 col-md-12 col-lg-12 playlist row" card-add ng-repeat="video in history track by $index">
                                    <p class="pull-right delete" ng-click="deleteFromHistory($index)">DELETE</p>
                                    <p class="playlist-title" ng-click="playVideoFromHistory($index)">{{video.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="search-results" class="col-sm-6 col-md-6 col-lg-6">
                <div class="result" ng-repeat="result in results track by $index" ng-click="queue(result)">
                    <img class="img-responsive thumbnail" ng-src="{{result.thumbnail}}" alt="result.title">
                    <h3>{{result.title}}</h3>
                    <p class="red">{{result.author}}</p>
                    <p>{{result.description}}</p>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>');</script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script>window.angular || document.write('<script src="js/vendor/angular.min.js"><\/script>');</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Only used while I learn how to do this stuff in Angular -->
        <script src="js/extra.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                function() {
                (b[l].q = b[l].q || []).push(arguments)
                });
                b[l].l = + new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-60332501-2', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
